/*
Background color: #080904
*/

:root {
	/* Colors */
	--background: #080904;
	--background-light: #08280A;
	--primary: #bcd16d;
	--secondary: #6eC421;
	--accent: #c2e150;
}

html {
	background-image: linear-gradient(60deg, var(--background) 10%, var(--background-light));
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "JetBrains Mono", monospace;
	font-size: 14px;
	color: #f3f4ec;
	text-align: center;
	tab-size: 4;
	line-height: 2;
	min-height: 100%;
	height: auto;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
}

.accented {
	background: linear-gradient(to right, var(--accent), var(--secondary));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.projects {
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	margin: auto;
}

.project {
	position: relative;
	width: 300px;
	padding: 20px;	
	min-height: 100px;
	background-color: var(--background-light);
	border-radius: 20px;
	align-content: center;
	text-align: center;
}

.project-links-pusher {
	height: 40px;
}

.project-links {
	height: 40px;
	position: absolute;
	bottom: 0px;
	width: 300px;
}

.title-img {
	object-fit: cover;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 8px;
	transition: height .75s, width .75s;
}

.title-img:focus {
	width: 200px;
	height: 200px;
}

.marginless {
	margin: 0;
}

h4 {
	margin-top: 0;
}

a:link, a:visited, a:active {
	background-color: transparent;
	text-decoration: none;
}

hr {
	width: 250px;
}