/*
Background color: #080904
*/

:root {
	/* Colors */
	--background: #080904;
	--background-light: #081F0A;
	--primary: #bcd16d;
	--secondary: #6e8421;
	--accent: #c2e150;
}

html {
	background-image: linear-gradient(60deg, var(--background) 10%, var(--background-light));
	background-repeat: no-repeat;
	color: #f3f4ec;
	text-align: center;
	tab-size: 4;
	line-height: 2;
	min-height: 100%;
	height: auto;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
}

.accented {
	background: linear-gradient(to right, var(--accent), var(--secondary));
	-webkit-background-clip: text;
	color: transparent;
}

.projects {
	width: 80%;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	gap: 2vw;
	margin-left: auto;
	margin-right: auto;
}

.project {
	padding: .5vw;
	min-height: 11vw;
	background-color: var(--background-light);
	border-radius: 0vw;
	transition: border-radius .1s;
}

.project:hover {
	border-radius: 2vw;
}

.title-img {
	object-fit: cover;
	width: 98%;
	height: 4vw;
	transition: height .5s, width .5s;;
}

.title-img:hover {
	height: 15vw;
	width: 15vw;
}

a:link, a:visited, a:active {
	background-color: transparent;
	text-decoration: none;
}

hr {
	width: 10vw;
}