.projects {
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	margin: auto;
}

.project {
	position: relative;
	width: 300px;
	padding: 20px;	
	min-height: 100px;
	background-color: var(--background-light);
	border-radius: 20px;
	align-content: center;
	text-align: center;
}

.project-links-pusher {
	height: 40px;
}

.project-links {
	height: 40px;
	position: absolute;
	bottom: 0px;
	width: 300px;
}

.title-img {
	object-fit: cover;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 8px;
	transition: height .75s, width .75s;
}

.title-img:focus {
	width: 200px;
	height: 200px;
}