.github-link {  }

.github-link::before {
	content: "";
	background-image: url("https://i.gyazo.com/85e7ce9196ae635161fec921602903a7.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	display: inline-block;
	position: relative;
}

.source-link {  }

.source-link::before {
	content: "";
	background-image: url("https://www.svgrepo.com/show/16272/programming-code.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	display: inline-block;
	position: relative;
	filter: invert(100%);
}

.discord-link {  }

.discord-link::before {
	content: "";
	background-image: url("https://raw.githubusercontent.com/gilbarbara/logos/52addcaa18dfecb4df77f3ee0753dca6b98187ad/logos/discord-icon.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	display: inline-block;
	position: relative;
}

.youtube-link {  }

.youtube-link::before {
	content: "";
	background-image: url("https://raw.githubusercontent.com/gilbarbara/logos/52addcaa18dfecb4df77f3ee0753dca6b98187ad/logos/youtube-icon.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	display: inline-block;
	position: relative;
}

.website-link {  }

.website-link::before {
	content: "";
	background-image: url("https://www.svgrepo.com/show/478273/internet-3.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	top: 4px;
	display: inline-block;
	position: relative;
	filter: invert(100%);
}

.download-link {  }

.download-link::before {
	content: "";
	background-image: url("https://www.svgrepo.com/show/140007/download-button.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 40px;
	height: 20px;
	display: inline-block;
	position: relative;
	filter: invert(100%);
}
