:root {
	--background: #080904;
	--background-light: #08280A;
	--primary: #bcd16d;
	--secondary: #6eC421;
	--accent: #c2e150;
}

.main-theme {
	background-image: linear-gradient(60deg, var(--background) 10%, var(--background-light));
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "JetBrains Mono", monospace;
	font-size: 14px;
	color: #f3f4ec;
	tab-size: 4;
	line-height: 2;
	min-height: 100%;
	height: auto;
}

.base-layout {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.accented {
	background: linear-gradient(to right, var(--accent), var(--secondary));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.marginless {
	margin: 0;
}

.inverted {
	filter: invert(100%);
}

.video {
	width: 800px;
	height: 450px;
}

@media screen {
	@media (width <= 830px) {
		.video {
			width: 600px;
			height: 375px;
		}
	}
	@media (width <= 630px) {
		.video {
			width: 400px;
			height: 225px;
		}
	}
	@media (width <= 430px) {
		.video {
			width: 300px;
			height: 168.75px;
		}
	}
}

.width-full {
	width: 100%;
}

.width-250 {
	width: 250px;
}

.width-300 {
	width: 250px;
}

.icon {
	width: 15px;
	position: relative;
	top: 2px;
}

a {
	text-decoration: none;
}